/* icons */
.iconos{
    border-radius: 50%;
    margin: 0.5%;
    width: 10%;
    padding-left: 2%;
    padding-right: 2%;
    background: transparent 0% !important;
    border: 0px;
    align-items: center;
}
/* icons images */
.img{
    max-width: 150%;
    /* margin-left: -25%;  */
}
/*estilo boton*/
.color-enviar{
    background-color: #be7dff !important;
    border-radius: 6px !important;
    width: 180px !important;
    color: white !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    margin-top: 30px !important;
}
.img-principal{
    margin-left: 0%;
    margin-top: -10%;
    height: 122.3%;
    width: 100%;
}