/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
    .tamano-contenedor{
        margin-top: 16%;
    }
    .navbar-toggler-icon-oscuro,.navbar-toggler-icon-white{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
    #mainNav.navbar-scrolled-2 {
        /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
      background-color: #fff;
    }
      
    #mainNav.navbar-scrolled-2 .navbar-brand {
      color: #212529;
    }
    #mainNav.navbar-scrolled-2 .navbar-brand:hover {
      color: #f4623a;
    }
    #mainNav.navbar-scrolled-2 .navbar-nav .nav-item .nav-link {
      color: #212529;
    }
    #mainNav.navbar-scrolled-2 .navbar-nav .nav-item .nav-link:hover {
      color: #f4623a;
    }
    .Subtitle{
        font-size: 120%; 
        color: white;
    }
    #posicion{
        width: 53%;
        position: absolute;
        top: 25%;
        text-align: start !important;
        left: 3%;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 44% !important;
    }
    #nav-color{
        background-color: transparent;
        color: white;
    }
    .iconos{
        border-radius: 50%;
        margin: 3%;
        width: 15%;
        padding-left: 2%;
        padding-right: 2%;
        background: transparent 0% !important;
        border: 0px;
    }
    .size-posicion{
        position: relative;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 24% !important;
    }
    .item-responsive-two{
        display: none;
        text-align: left !important;
    }
    
    .align-responsive{
        color: #000;        
        margin-left: 10%;
        font-weight: bold;
        cursor: pointer;
    }
    .align-responsive-2{
        color: #000;        
        margin-top: 0%;
        font-weight: bold;
        cursor: pointer;
    }
    .align-responsive:hover,.align-responsive-2:hover{
        color: #F4623A;
    }
    .reajuste{
        /* margin-top: 65%; 
        margin-left: -245%; */
        margin-top: 36%;
        margin-left: -20%;
    }
    .color-yga{
        margin-top: 13%;
        background-color: #514563 !important;
        padding: 7% 0 !important;
    }
    .div-container{
        margin-top: 10% !important;
    }
    .etiq-question{
        margin-left: 5% !important;
        max-width: 90% !important;
        height: auto !important;
    }
    .posicion-letter{
        margin-left: -4% !important;
    }
    .color-yga-2{
        margin-top: 14%;
        background-color: #fff !important;
        padding: 7% 0 !important;
        font-size: 140%;
    }
    .beneficios-icon{
        margin: 5% -10%;
        width: 120%;
    }
    .num{
        margin-left: -10%;
        margin-right: 100%;
        padding: 2% #ae9aca;
        background-color: #ae9aca;
        border-radius: 25px;
        text-align: center;
        color: white;
        margin-top: 10%;
    }
    .format-reportes{
        font-weight: 100 !important; 
        margin-top: -9%;
        margin-left: 5%;
    }
}
/* Small devices (landscape phones, 576px and up) rotate 180 */
@media (orientation:landscape){
    .tamano-contenedor{
        margin-top: 16%;
    }
    .navbar-toggler-icon-oscuro,.navbar-toggler-icon-white{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
    #mainNav.navbar-scrolled-2 {
        /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
      background-color: #fff;
    }
      
    #mainNav.navbar-scrolled-2 .navbar-brand {
      color: #212529;
    }
    #mainNav.navbar-scrolled-2 .navbar-brand:hover {
      color: #f4623a;
    }
    #mainNav.navbar-scrolled-2 .navbar-nav .nav-item .nav-link {
      color: #212529;
    }
    #mainNav.navbar-scrolled-2 .navbar-nav .nav-item .nav-link:hover {
      color: #f4623a;
    }
    .Subtitle{
        font-size: 139%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 53%;
    }
    #nav-color{
        background-color: transparent !important;
        color: white;
    }
    .iconos{
        border-radius: 50%;
        margin: 3%;
        width: 15%;
        padding-left: 2%;
        padding-right: 2%;
        background: transparent 0% !important;
        border: 0px;
    }
    .size-posicion{
        position: relative;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 25% !important;
    }
    .item-responsive-two{
        display: none;
    }
    /* .align-responsive{

    } */
    .align-responsive:hover{
        color: #F4623A;
    }
}