@media (max-width: 576px){
    .Subtitle{
        font-size: 120%; 
        color: white;
    }
    #posicion{
        width: 53%;
        position: absolute;
        top: 25%;
        text-align: start !important;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 44%;
    }
    #nav-color{
        background-color: transparent;
        color: white;
    }
}
@media (orientation:landscape){
    .Subtitle{
        font-size: 139%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 53%;
    }
    #nav-color{
        background-color: transparent;
        color: white;
    }
    
}
@media (min-width: 768px) { 
    .Subtitle{
        font-size: 200%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 55%;
    }
}

@media (min-width: 1200px){
    .Subtitle{
        font-size: 220%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 55%;
    }
}
.sombreado{
    position: relative;
    bottom: 17% !important;
    background-color: #00000026;
    height: 17%;
}
#posicion{
    width: 53%;
    position: absolute;
    top: 25%;
    text-align: end;
}