@media (max-width: 576px){
    .Subtitle{
        font-size: 120%; 
        color: white;
    }
    #posicion{
        width: 53%;
        position: absolute;
        top: 25%;
        text-align: start !important;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 44%;
    }
    #posicion{
        width: 53%;
        position: absolute;
        top: 25%;
        text-align: end;
    }
    #nav-color{
        background-color: transparent;
        color: white;
    }
    .iconos{
        border-radius: 50%;
        margin: 3%;
        width: 15%;
        padding-left: 2%;
        padding-right: 2%;
        background: transparent 0% !important;
        border: 0px;
    }
    .size-posicion{
        position: relative;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 25% !important;
    }
}
@media (orientation:landscape){
    .Subtitle{
        font-size: 139%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 53%;
    }
    #nav-color{
        background-color: transparent;
        color: white;
    }
    .iconos{
        border-radius: 50%;
        margin: 3%;
        width: 15%;
        padding-left: 2%;
        padding-right: 2%;
        background: transparent 0% !important;
        border: 0px;
    }
    .size-posicion{
        position: relative;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 25% !important;
    }
}
@media (min-width: 768px) { 
    .Subtitle{
        font-size: 200%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 55%;
    }
}

@media (min-width: 1200px){
    .Subtitle{
        font-size: 220%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 55%;
    }
    #posicion{
        width: 53%;
        position: absolute;
        top: 25%;
        text-align: end;
    }
    .iconos{
        border-radius: 50%;
        margin: 0.0001%;
        width: 7.5%;
        padding-left: 2%;
        padding-right: 2%;
        background: transparent 0% !important;
        border: 0px;
    }
    .size-posicion{
        position: relative;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 44% !important;
    }
}
.sombreado{
    position: relative;
    bottom: 17% !important;
    background-color: #00000026;
    height: 17%;
}
.size-posicion{
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 40%;
}