/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
    .Subtitle{
        font-size: 120%; 
        color: white;
    }
    #posicion{
        width: 53%;
        position: absolute;
        top: 25%;
        text-align: start !important;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 50%;
    }
    #posicion{
        width: 53%;
        position: absolute;
        top: 25%;
        text-align: end;
    }
    #nav-color{
        background-color: transparent;
        color: white;
    }
    .iconos{
        border-radius: 50%;
        margin: 3%;
        width: 15%;
        padding-left: 2%;
        padding-right: 2%;
        background: transparent 0% !important;
        border: 0px;
    }
    .size-posicion{
        position: relative;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 25% !important;
    }
    .item-responsive-two{
        display: none;
        text-align: left !important;
    }
    
    .align-responsive{
        color: #000;        
        margin-left: 10%;
        font-weight: bold;
        cursor: pointer;
    }
    .align-responsive-2{
        color: #000;        
        margin-top: 0%;
        font-weight: bold;
        cursor: pointer;
    }
    .align-responsive:hover,.align-responsive-2:hover{
        color: #F4623A;
    }
    .reajuste{
        /* margin-top: 65%; 
        margin-left: -245%; */
        margin-top: 40%;
        margin-left: -120%;
    }
}
/* Small devices (landscape phones, 576px and up) rotate 180 */
@media (orientation:landscape){
    .Subtitle{
        font-size: 139%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 53%;
    }
    #nav-color{
        background-color: transparent !important;
        color: white;
    }
    .iconos{
        border-radius: 50%;
        margin: 3%;
        width: 15%;
        padding-left: 2%;
        padding-right: 2%;
        background: transparent 0% !important;
        border: 0px;
    }
    .size-posicion{
        position: relative;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 25% !important;
    }
    .item-responsive-two{
        display: none;
    }
    .align-responsive{

    }
    .align-responsive:hover{
        color: #F4623A;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .Subtitle{
        font-size: 200%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 55%;
    }
    
    #nav-color{
        background-color: transparent !important;
        color: white;
    }
    .direccion{
        margin-right: 15% !important;
    }
    .posicion-header{
        margin-top: -0.001px !important;
        margin-left: 72% !important;
        max-width: 1% !important;
        border-radius: 0px !important;
        text-align: left !important;
        background-size: 0% !important;
    }
    .posicion-header-two{
        margin-left: 99% !important;
        margin-top: -30% !important;
        max-width: 1% !important;
        border-radius: 0px !important;
        text-align: left !important;
        background-size: 0% !important;
    }
    .item-responsive-two{
        display: none !important;
        text-align: left !important;
    }
    .align-responsive{
        color: #000;        
        margin-left: 10%;
        font-weight: bold;
        cursor: pointer;
    }
    .align-responsive-2{
        color: #000;        
        margin-top: 0%;
        font-weight: bold;
        cursor: pointer;
    }
    .align-responsive:hover,.align-responsive-2:hover{
        color: #F4623A;
    }
    .reajuste{
        margin-top: 40%; 
        margin-left: -250%;
        /* margin-top: 40%;
        margin-left: -120%; */
    }
    
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .Subtitle{
        font-size: 220%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 55%;
    }
    #posicion{
        width: 53%;
        position: absolute;
        top: 25%;
        text-align: end;
    }
    .iconos{
        border-radius: 50%;
        margin: 0.0001%;
        width: 7.5%;
        padding-left: 2%;
        padding-right: 2%;
        background: transparent 0% !important;
        border: 0px;
    }
    .size-posicion{
        position: relative;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 44% !important;
    }
    .item-tracking{
        margin-left: 0% !important;
    }
    .direccion{
        margin-right: 15% !important;
    }
    .posicion-header{
        margin-top: -0.5px !important;
        margin-left: 71% !important;
        max-width: 1% !important;
        border-radius: 0px !important;
        text-align: left !important;
        background-size: 0% !important;
    }
    .posicion-header-two{
        margin-left: 99% !important;
        margin-top: -30% !important;
        max-width: 1% !important;
        border-radius: 0px !important;
        text-align: left !important;
        background-size: 0% !important;
    }
    .item-responsive{
        display: none !important;
    }
    .item-responsive-two{
        display: flex !important;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    .Subtitle{
        font-size: 220%;
        color: white;
    }
    .posicion-2{
        width: 200px;
        top: 29%;
        position: absolute;
        left: 55%;
    }
    #posicion{
        width: 53%;
        position: absolute;
        top: 25%;
        text-align: end;
    }
    .iconos{
        border-radius: 50%;
        margin: 0.0001%;
        width: 7.5%;
        padding-left: 2%;
        padding-right: 2%;
        background: transparent 0% !important;
        border: 0px;
    }
    .size-posicion{
        position: relative;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 44% !important;
    }
    .item-tracking{
        margin-left: 0% !important;
    }
    
    .direccion{
        margin-right: 8% !important;
    }
    .posicion-header{
        margin-top: -0.5px !important;
        margin-left: 73.5% !important;
        max-width: 1% !important;
        border-radius: 0px !important;
        text-align: left !important;
        background-size: 0% !important;
    }
    .posicion-header-two{
        margin-left: 99% !important;
        margin-top: -30% !important;
        max-width: 1% !important;
        border-radius: 0px !important;
        text-align: left !important;
        background-size: 0% !important;
    }
}
/* General */
.sombreado{
    position: relative;
    bottom: 17% !important;
    background-color: #00000026;
    height: 17%;
    
}
.size-posicion{
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 40%;
}
.item-tracking{
    margin-left: 0% !important;
}
